<div class="currentLocation">
  <%= button_tag '現在地から探す', type: 'button' %>
</div>
<% if users.any? %>
  <% users.each do |user| %>
  <div class="parent">
    <div class="profile">
      <% if user.image? %>
        <%= image_tag user.image.url, class: 'profile__img', :alt => '/' %>
      <% else %>
        <%= image_tag ('images.png'), class: 'profile__img', :alt => '/' %>
      <% end %>  
      <div class="profile__name"><%= user.name %></div>
      <hr>
      <div class="profile__desc">ここに簡単な自己紹介が入ります。</div>
      <%= link_to 'プロフィール', user_path(user), 'data-turbolinks': false %>
    </div>
  </div>
  <% end %>
<%= paginate users %>
<% end %>
