<div>
<% if @users.any? %>
  <% @users.each do |user| %>
  
      <%= link_to  user_path(user), 'data-turbolinks': false do %>
        <div class="parent">
          <div class="profile">
            <% if user.image? %>
              <%= image_tag user.image.url, class: 'profile__img', :alt => '/' %>
            <% else %>
              <%= image_tag ('images.png'), class: 'profile__img', :alt => '/' %>
            <% end %>  
            <div class="profile__name"><%= user.name %></div>
          <hr>
            <% if user.address? %>
              <p class="text-center profile__address"><i class="fas fa-map-marker-alt"></i>あなたとの距離<br>約<%= position(user) %></p>
            <% end %>
            <div class="profile__desc">
              <% if user.introduction? %>
                <%= truncate(user.introduction, length:20) %>
              <% else %>
                <p>よろしくお願いします</p>
              <% end %>  
            </div>
          </div>
        </div>

    <% end %>
  <% end %>  
<div class="u_pagenation"><%= paginate @users %></div>
<% end %>
<!--<%= paginate @users %>-->
</div>