<div class="profile">
  <% if @user.image? %>
    <%= image_tag @user.image.url, :size => '160x160', class: 'profile__image', :alt => '/' %>
  <% else %>
    <%= image_tag ('images.png'), :alt => '/' %>
  <% end %>
  <div class="profile__name"><%= @user.name %></div>
  <div class="profile__desc">ここに簡単な自己紹介が入ります。ここに簡単な自己紹介が入ります。ここに簡単な自己紹介が入ります。ここに簡単な自己紹介が入ります。</div>
</div>
<% if @user == current_user %>
  <%= link_to '編集する', edit_user_path(@user) %>
<% end %>

<h2>gmap</h2>
<%= current_user.address %>
<%= @address %>
<div id='map'></div>
<style>
  #map{
    height: 400px;
    width: 400px;
  }
</style>
<script type="text/javascript">
  let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()
    
    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.user.latitude,
        lng: gon.user.longitude
      },
      zoom: 15,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.user.latitude,
        lng: gon.user.longitude
      },
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVrMNgRxuKhJNYqvsHIpL9Nk2fX8ELDsc&callback=initMap" async defer></script>
  
<% unless @user.id == current_user.id %>
  <% if @isRoom == true %>
    <p class="user-show-room"><a href="/rooms/<%= @roomID %>" class="btn bnt-primary btn-lg">チャットへ</a></p>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit 'チャットを始める', class: "btn btn-primary btn-lg user-show-chat" %>
    <% end %>
  <% end %>
<% end %>  
    