<h4 class="rooms-title">チャットメンバー</h4>
<% @entries.each do |e| %>
  <div class="user-name">
  <strong>
    <!--<a class="rooms-user-link" href="/users/<%= e.user.id %>">-->
    <!--  <%= e.user.name %>さん-->
    <!--</a>-->
    <div class="profile__name">
      <%= e.user.name %>
    </div>
    <% if e.user.image? %>
      <%= image_tag e.user.image.url, class: 'profile__img', :alt => '/' %>
    <% else %>
      <%= image_tag ('images.png'), class: 'profile__img', :alt => '/' %>
    <% end %>  
  </strong>
  </div>
<% end %>
<hr>
<p class="text-center">チャット画面</p>
<div class="line-bc"><!--①LINE会話全体を囲う-->
  <% if @messages.present? %>
    <% @messages.each do |m| %>
  <!--②左コメント始-->
      <div class="balloon6">
        <% unless current_user == m.user %>
          <div class="name text-left">
            <%= m.user.name %>
          </div>
          <div class="faceicon">
            <% if m.user.image? %>
              <%= image_tag m.user.image.url, :alt => '/' %>
            <% else %>
              <%= image_tag ('images.png'), :alt => '/' %>
            <% end %>
          </div>
          <div class="chatting">
            <div class="says">
              <p><%= m.content %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>  
  <!--②/左コメント終-->
  
  <!--③右コメント始-->
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <div class="mycomment">
        <% if current_user == m.user %>
          <p><%= m.content %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>  
  <!--/③右コメント終-->
  
    <div class="posts">
      <%= form_for @message do |f| %>
        <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 40, class:"form-text-field" %>
          <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.submit "送信",class: 'form-submit'%>
      <% end %>
    </div>
</div><!--/①LINE会話終了-->