  <% @entries.each do |e| %>
    <% unless e.user == current_user %>
    <p class="text-center"><%= e.user.name %>さんとのチャット</p>
    <% end %>
  <% end %>

<div class="line-bc"><!--①LINE会話全体を囲う-->
  <% if @messages.present? %>
    <% @messages.each do |m| %>
  <!--②左コメント始-->
      <div class="balloon6">
        <% unless current_user == m.user %>
          <div class="name text-left">
            <%= m.user.name %>
          </div>
          <div class="faceicon">
            <% if m.user.image? %>
              <%= image_tag m.user.image.url, :alt => '/' %>
            <% else %>
              <%= image_tag ('images.png'), :alt => '/' %>
            <% end %>
          </div>
          <div class="chatting">
            <div class="says">
              <% if m.content? && m.image? %>
                <p><%= m.content %> <br>
                <%= image_tag m.image.url, :alt => '/' %></p>
              <% elsif m.content? && !m.image? %>
                <p><%= m.content %></p>
              <% elsif !m.content? && m.image? %>
                <p><%= image_tag m.image.url, :alt => '/' %></p>
              <% end %>   
            </div>
            <%= m.created_at.strftime("%m-%d %H:%M")%>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>  
  <!--②/左コメント終-->
  
  <!--③右コメント始-->
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <div class="mycomment">
        <% if current_user == m.user %>
        <%= m.created_at.strftime("%m-%d %H:%M")%>
          <% if m.content? && m.image? %>
            <p><%= m.content %> <br>
            <%= image_tag m.image.url, :alt => '/' %></p>
          <% elsif m.content? && !m.image? %>
            <p><%= m.content %></p>
          <% elsif !m.content? && m.image? %>
            <p><%= image_tag m.image.url, :alt => '/' %></p>
          <% end %>  
        <% end %>
      </div>
    <% end %>
  <% end %>  
  <!--/③右コメント終-->
  
    <div class="posts">
      <%= form_for @message do |f| %>
        <div id="preview"></div>
        <%= javascript_include_tag "image_preview.js" %>
        <%= f.label :image do %>
          <i class="fas fa-camera fa-2x"></i><%= f.file_field :image, :onchange => 'imgPreView(event)', class: 'hoge'%>
        <% end %>
        <%= f.text_field :content, placeholder: "メッセージを入力" , size: 40, class: "form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信",class: 'form-submit'%>
      <% end %>
    </div>
</div><!--/①LINE会話終了-->