<h4 class="text-center">依頼一覧</h4>
<ul class="list-unstyled">
  <% @posts.each do |post| %>
    <li class="media mb-3 post">
      <div>
        <% if post.user.image? %>
          <%= image_tag post.user.image.url, class: 'post_user_img', :alt => '/' %>
        <% else %>
          <%= image_tag ('images.png'), class: 'post_user_img', :alt => '/' %>
        <% end %>
        <div class="post_user_name">
          <%= post.user.name %>
        </div>
      </div>
      <div class="media-body">
        <div>
          <span class="text-muted"> <%= post.created_at.strftime("%m-%d %H:%M") %></span>
        </div>
        <div>
          <p><%= post.content %></p>
        </div>
        <div class="post-btn">
          <% if current_user == post.user %>
            <%= link_to  edit_post_path(post), class: 'btn' do %>
              <i class="far fa-edit fa-2x"></i>
            <% end %>  
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate @posts %>
</ul>
