<div>
  <% if post.user.image? %>
    <%= image_tag post.user.image.url, class: 'post-user-img', :alt => '/' %>
  <% else %>
    <%= image_tag ('images.png'), class: 'post-user-img', :alt => '/' %>
  <% end %>
  <div class="post-user-name text-center">
    <% if post.user.name.length > 8 %>
      <%= name_scan(post.user) %>
    <% else %>
      <%= post.user.name %>
    <% end %>  
  </div>
</div>
<div class="media-body">
  <div>
    <span class="text-muted post-time p-list"><%= post.updated_at.strftime("%m-%d %H:%M") %></span>
    <span class="post-address p-list">お届け先　<%= post.user.address %></span> <br>
    <span class="post-price">料金 <%= post.price %>円</span>
    <% if logged_in? %>
      <% unless current_user == post.user %>
      <span class="post-distance">距離約<%= position(post.user) %></span>
      <% end %>
    <% end %>  
  </div>
  <hr>
  <div>
    <p><%= post.content %></p>
  </div>
  <div class="post-btn">
    <% if current_user == post.user %>
      <%= link_to  edit_post_path(post), class: 'btn edit' do %>
        <i class="far fa-edit size"></i>
      <% end %>  
      <%= link_to post, method: :delete, data: {confirm: "削除しますか？"}, class: 'btn delete' do %>
        <i class="far fa-trash-alt size"></i>
      <% end %>  
    <% end %>
  </div>
</div>