<div>
  <% if post.user.image? %>
    <%= image_tag post.user.image.url, class: 'post_user_img', :alt => '/' %>
  <% else %>
    <%= image_tag ('images.png'), class: 'post_user_img', :alt => '/' %>
  <% end %>
  <div class="post_user_name">
    <%= post.user.name %>
  </div>
</div>
<div class="media-body">
  <div>
    <span class="text-muted"> <%= post.created_at.strftime("%m-%d %H:%M") %></span>
    <span class="post_address">お届け先　<%= post.user.address %></span>
  </div>
  <div>
    <p><%= post.content %></p>
  </div>
  <div class="post-edit-btn">
    <% if current_user == post.user %>
      <%= link_to  edit_post_path(post), class: 'btn' do %>
        <i class="far fa-edit size"></i>
      <% end %>  
    <% end %>
  </div>
</div>